{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Files{% endblock %}</h2>
{% endblock %}


{% block content %}
    <div class="breadcrumb">
        <a href="{{ url_for('file_explorer.list_files') }}">Root</a>
        {% for part, cumulative_path in path_parts|zip(cumulative_paths) %}
            / <a href="{{ url_for('file_explorer.list_files', subpath=cumulative_path) }}">{{ part }}</a>
        {% endfor %}
    </div>
    <ul>
        {% for dir in dirs %}
        <a class="button" href="{{ url_for('file_explorer.list_files', subpath=subpath+'/'+dir) }}">{{ dir }}</a>
        {% endfor %}
    </ul>
    <div class="video-container roboto-light">
        {% for file in files %}
        <div class="video-item">
            <p>  Video {{ file }} </p>
            <video controls>
                <source src="{{ url_for('file_explorer.serve_video', subpath=subpath, filename=file) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <a href="{{ url_for('file_explorer.download_file', subpath = subpath, filename=file) }}">Download</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}