numpy<2.0.0
torch>=2.2.2
ultralytics>=8.3.27
lapx>=0.5.2

pandas>=2.0.3
scipy>=1.11.2
seaborn>=0.12.2
six>=1.16.0
smmap>=5.0.0
sympy>=1.12
torchaudio>=2.0.2
torchvision>=0.15.2
tqdm>=4.66.1
typing_extensions>=4.8.0
tzdata==2023.3
urllib3==2.0.4
websockets==11.0.3
lapx>=0.5.2
